/*
    COMPONENT VARIABLES
*/

.tagus-navigation {
    width: 100%;
    height: 100%;
}

.tagus-side-navigation {
    padding: 0;
    display: block;
    list-style-type: none;
    float: left;
}

.tagus-navigation-header {
    color: var(--nav-header-text-color);
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 25px;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .tagus-navigation {
        padding-top: 165px;
    }
    
    .icon {
        margin-right: 15px;
    }
}