.tagus-messages-container {
    position: absolute;
    z-index: 1000;
    top: 70px;
    right: 0;
    width: 300px;
}

.tagus-message-list {
    width: 100%;
}

.fade-enter {
    opacity: 0.01;
  }
  
.fade-enter.fade-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}

.fade-exit {
opacity: 1;
}

.fade-exit.fade-exit-active {
opacity: 0.01;
transition: opacity 50ms ease-in;
}